.footer {
    height: auto;
    padding: 20px 50px;
    padding-bottom: 0px;
    background-color: #fafaff;
}

.footerMediLogo {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.footer li{
    list-style: none;
    font-size: 13px;
    margin-bottom: 7px;
    color: #621fff;
}

.footerBottom{
    height: auto;
    width: 100%;
    padding: 0px 50px;
    font-size: 13px;
    margin-top: 10px;
    background-color: #fafaff;
}