.Courses_Card{
    box-shadow: -1px 1px 34px -25px rgba(0,0,0,0.75);
    padding: 15px;
    background-color: white;
}
.Courses_Container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
}
.Courses_Container h1{
    font-weight: bold;
}
.Courses_Container p{
    font-size: 13px;
}
.Courses_Container>div > div:first-child{
    display: flex;
}
.Courses_Container>div > div:first-child div:first-child{
  width: 20%;
  text-align: center;
  margin-right: 20px;
}
.Courses_Container>div > div:first-child img:first-child{
    /* width: 100px; */
    border-radius: 50%;
    display: inline-block;
}
.Courses_Container>div > div:last-child{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    border-top: 1px solid rgba(128, 128, 128, 0.13);
    padding-top: 10px;
    padding-bottom: 10px;
}
.Courses_Container>div > div:last-child button:first-child{
    color: #7c44ff;
    font-weight: 500;
}
.Courses_Container>div > div:last-child button:last-child{
    background-color: #7c44ff;
    padding: 0px 10px;
    border-radius: 3px;
    color: white;
    font-weight: 500;
}
.Courses_Container>div > div:last-child button:last-child:hover{
    background-color: #7239f8;
}
.coursesFirstFlex{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
    font-size: 20px;
}
.coursesFirstFlex img{
    width: 30px;
    display: inline-block;
}
.coursesFirstFlex div{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
}
.coursesGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 20px 0px;
}
.coursesGrid div{
   display: flex;
   padding: 10px;
   box-shadow: 0px 0px 28px -23px rgba(0,0,0,0.75);
   font-weight: 500;
   font-size: 25px;
   gap: 10px;
}
.CoursessecondFlex{
    display: flex;
    padding: 10px 90px;
    justify-content: space-between;
}
.CoursessecondFlex div:first-child{
    width: 60%;
}
.CoursessecondFlex div:last-child{
    width: 40%;
}
.CoursessecondFlex img{
    width: 100%;
    float: right;
}
.CoursessecondFlex h1{
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px;
}
.CoursessecondFlex p{
    font-size: 23px;
}
.coursesecondFlex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 80px;
    background-color: #f9f9f9;
    margin: 20px 0px;
}
.coursesecondFlex h1{
    font-weight: bold;
    font-size: 40px;
}
.coursesecondFlex p{
    font-size: 23px;
    margin: 20px 0px;
}