.myCard {
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1%;
    border: 1px solid white;
    padding: 20px;
    line-height: 25px;
    
}
.myCard4{
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1%;
    border: 1px solid white;
}
.myCard5{
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 1%;
    padding: 10px;
    margin-top: -15px;
}
.myCard6{
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    margin: 1%;
    margin-top: -15px;
    background-color: white;
    border-radius: 5px;
}
.ProfileBosterCard1{
    min-width: 275px;
    max-width: 200px;
    height: 100%;
    margin: 1%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
}
.myCard5 img{
    border-radius: 50%;
}

.myCard:hover {
    border-color: #621fff;
}

.product-carousel {
    position: relative;
    overflow: hidden;
    padding: 26px;
}

.product-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 200px;
    padding-bottom: 20px;
}
.product-container2 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 200px;
    padding-bottom: 20px;
}
.product-container3 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 200px;
    padding-bottom: 20px;
}
.product-container4 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 370px;
    padding-bottom: 20px;
}
.product-container5 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 280px;
    padding-bottom: 20px;
}
.product-container6 {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: 280px;
}
.Profileboster_container{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 87%;
    margin: auto;
    height: auto;
    padding-top: 30px;
}

.product-carousel button {
    border: none;
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button p {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0px 12px;
    border-radius: 50%;
    color: #621fff;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;

}

.next-btn {
    right: 40px;

}

.pre-btn {
    left: 40px;

}
.end{
    float: right;
}
.smallHand{
    font-size: 12px;
}

.colv{
    color: #8652ff;
    font-weight: bold;
}
.innDiv{
    padding: 20px;
}